
body {
    max-width: 640px;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #dee2d0;
}

.action {
    cursor: pointer;
    color: blue;
    /*text-decoration: underline;*/
}

.content {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

.rec {
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
}

.err {
    color: red;
    font-weight: : bold;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.header {
    padding: 8px;
    border-radius: 3px;
    border: solid 1px black;
    background-color: #f9e2ff;
}

h3 {
    margin: 8px;
}

.btn {
    background-color: #bedbe0;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
    font-size: 16px;
}

span.title {
    margin-left: 1em;
    font-weight: bold;
}